{%  extends 'AdminLTE/base.html' %}
{% load widget_tweaks %}

{% block xeslog_upload_form %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Upload XES file to system</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Upload log</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div style="display:flex; justify-content: center; align-items: center;">
        <div style="width: 400px; flex-shrink: 0;">
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'AdminLTE/includes/bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Submit</button>
			</form>
        </div>
    </div>



{% endblock %}